#nav-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #021724;
    padding-bottom: 5px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    color: #012e3a;
    letter-spacing: 0.5px;
}

#logo {
    width: 100%;
    max-width: 120px;
    height: auto;
    display: block;
    margin: auto;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(0, 50, 94, 0.8);
    color: #f0eded;
}

.scroll-box {
    width: 400px;
    height: 100px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 8px;
    overflow-y: auto;
    background: #828282;
}

#breakdown {
    font-weight: bold;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    background-color: #5ce1e6;
    padding: 20px;
    box-sizing: border-box;
}

#header {
    color: #012e3a;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.nav-link {
    display: block;
    color: #012e3a;
    text-decoration: none;
    margin-bottom: 40px #ecf0f1;
    margin-top: 40px #ecf0f1;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: underline;
    font-size: 1rem;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #83919e;
}

#main-doc {
    margin-left: 270px;
    padding: 40px 20px;
    max-width: 800px;
}

.main-section header  {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #e9f4ff;
    border-bottom: 2px solid #021724;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #bdc3c7;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #2980b9;
    color: white;
}

@media (max-width: 768px) {
    #navbar {
        width: 200px;
    }

    #main-doc {
        margin-left: 220px;
        padding: 15px 20px;
    }
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

    #navbar {
        position: relative;
        width: 100%;
        height: auto;
    }

    #main-doc {
        margin-left: 0;
    }
}